.vscode/**
.vscode-test/**
.github/**
src/**
out/**
node_modules/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
webpack.config.js
package-lock.json
aicommit.gif
prompt/**
images/codespaces.png
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
